
data_sets/pykan

ICKANs

data_sets/1D_plasticity/model/0.0_config.yml

data_sets/1D_plasticity/model/0.0_state

# RVE homogenization project exclusions
RVE_homogenization_NeoHookean_using_Kratos/**/*U.npy
RVE_homogenization_NeoHookean_using_Kratos/**/*.dat
RVE_homogenization_NeoHookean_using_Kratos/Report/


